body{
  font-family: 'Trebuchet MS', sans-serif
}

input:focus{
  outline: none;
}

.todoHead{
  background-color: #fdfdff;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e9eff5;
  position: relative;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.todoHead__button{
  position: absolute;
  bottom: -28px;
  right: 20px;
  transition-duration: 300ms;
  color: white;
  border: none;
  border-radius: 180px;
  padding: 10px 18px;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.todoItem{
  display: flex;
  justify-content: start;
  align-content: center;
  align-items: center;
  margin: 20px 0;
}
.todoItem__input{
  margin: 0 0 0 15px;
  font-size: 18px;
  width: 100%;
  border: none;
}
.todoItem__buttonDelete{
  transform: rotate(45deg);
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #999999;
  font-weight: bold;
}
.todoItem__separator{
  border: solid .5px #e9eff5;
}

.todoErrorMessage{
  font-size: 13px;
  margin: 5px 0 0 15px;
  color: #fa6768;
}